:root {
  --txt-color: rgb(27, 26, 26);
  --bg-color: rgb(255, 255, 255);
  --pri-color: rgb(16, 224, 224);
  --sec: black;
  --a: gray;

  /* Base Spacing */
  --bs: 16px;
  --bs2: 24px;
  --bs3: 32px;
  --bs4: 40px;

  /* Radius */
  --rounded-md: 8px;
  --rounded-lg: 16px;
  --rounded-full: 100%;
}

body {
  background-color: var(--pri-color);
  color: var(--sec);
}
button {
  border-radius: var(--rounded-full);
}
