@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Source Sans 3", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
}

#section1 {
  background-image: url("./CSS-Advanced-images/Object.png");
  min-height: 100vh;
  min-width: 100vw;
  max-width: fit-content;
  max-width: fit-content;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  padding-bottom: 1vh;
}

header {
  padding: 2%;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
}

#div1 {
  text-align: center;
  margin: 22vh auto;
}
#div1 h1 {
  font-size: 120px;
  font-weight: bold;
}
#div1 div {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: bold;
}

#div1 button {
  padding: 1%;
  margin-top: 30px;
  background-color: rgb(183, 113, 249);
  border: none;
  border-radius: 5rem;
  color: white;
}

#div2 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  font-family: Arial, sans-serif;
}

#div2 h2 span {
  font-weight: bolder;
  color: rgb(183, 113, 249);
}
#div2 div {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 22%;
}
#div2 div div {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 12vw;
}
#div2 div div img {
  border-radius: 50%;
}
#section2 {
  height: 70vh;
  width: 100vw;
  background-color: rgb(183, 113, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: white;
  font-size: 1.4rem;
}

/* #s2div2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left; 
} */

#s2div2 h3 {
  margin: 5% 0 2%;
  font-family: Arial, sans-serif;
  font-size: large;
}

#div2 h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;
}
#div2 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.pro-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#div2 > div > div div.pro-block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

#section3 h2 {
  text-align: center;
  padding: 5% 0;
  font-family: monospace;
  font-size: 2rem;
}
#section3 h2 span {
  color: rgb(183, 113, 249);
  font-style: normal;
}

#section3 {
  padding-bottom: 50px;
  gap: 2px;
}
main > div {
  display: flex;
}
.img {
  width: 255px;
  height: 154px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
/* .img > img {
  position: absolute;
  top: 50px;
  left: 90px;
} */

#img1 {
  background-image: url(" CSS-Advanced-images/9.png");
}
#img2 {
  background-image: url(CSS-Advanced-images/7.png);
}
#img3 {
  background-image: url(CSS-Advanced-images/8.png);
}
#img4 {
  background-image: url(CSS-Advanced-images/6.png);
}
#img2 {
  background-image: url(CSS-Advanced-images/7.png);
}

.img img {
  width: 64px;
  height: 64px;
  margin: auto;
}

#section3 {
  gap: 10px;
  padding: 10px;
}

#section3 div div .iconn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.humanicon {
  width: 30px;
  height: 30px;
}

.rating {
  display: flex;
  color: rgb(183, 113, 249);
  gap: 120px;
}
.rating div {
  display: flex;
}

.laststar {
  color: rgba(0, 0, 0, 0.2);
}
#section3 p {
  line-height: 1.8em;
}

#section4 {
  background-color: #071629;
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#section4 > div {
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#section4 h2 {
  font-family: monospace;
  font-size: xx-large;
}
#section4 h2 span {
  color: rgb(183, 113, 249);
}

#section4 button {
  background-color: rgb(183, 113, 249);
  border-radius: 20px;
  padding: 10px 12px;
  margin-bottom: 10px;
}

#section5 {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  /* border: solid blue; */
}
#section5 h2 {
  font-family: serif;
  font-size: 2rem;
}
#section5 > div {
  max-height: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 15%;
}
#section5 h3 {
  padding: 20px 0 30px;
}
#section6 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #071629;
  padding: 5%;
  /* border: solid red; */
}
#section6 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 65vw;
}

#s6icon {
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: xx-large;
}
#section6 p {
  color: rgb(255, 255, 255, 0.4);
  font-size: smaller;
}
